---
import Layout from '../layouts/Layout.astro';
import { marked } from 'marked';
import { loadSpecDocument } from '../lib/spec-meta';

const { meta, body } = await loadSpecDocument();

marked.setOptions({ gfm: true });

let htmlContent = marked.parse(body) as string;

// Remove horizontal rules between sections (h2 borders provide separation).
htmlContent = htmlContent.replace(/<hr>\n?/g, '');
---

<Layout meta={meta}>
	<div class="spec">
		<article set:html={htmlContent} />
	</div>
</Layout>
